body {
	margin: 0;
}
#form {
	text-align: center;
}
#message {
	width: 100%;
}
.row {
	display: flex;
	justify-content: space-around;
}
.cell {
	border: solid 1px black;
	height: 60px;
	width: 100%;
}
.highlight {
	background-color: dodgerBlue;
}
#indexClicked {
	display: flex;
	justify-content: center;
}
#rowError, #columnError {
	color: red;
}